<!doctype html>
<html lang="ja">
<head><%
const path = "./";
const meta = {
  type: "website",
  title: "ぬにふちさか",
  description: "ぬにふちさか関連リンク集",
};
%>
<%- include("assets/html/_head",{meta:meta}) %>
</head>
<body>
<%- include("assets/html/_body_before") %>

<div id="wrapper">
<%- include("assets/html/_header") %>

<div class="wrapper_1">
  <div class="wrapper_1__1">

    <%- include("assets/html/_link") %>

  </div><!-- /.wrapper_1__1 -->
  <div class="wrapper_1__2">

    <%- include("assets/html/_gallery") %>

  </div><!-- /.wrapper_1__2 -->
</div><!-- /.wrapper_1 -->

<%- include("assets/html/_portfolio") %>
<%- include("assets/html/_guide") %>
<%- include("assets/html/_cluster") %>

<%- include("assets/html/_footer") %>
</div><!-- /#wrapper -->

<%- include("assets/html/_body_after") %>
</body>
</html>